.single_ticket{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    width: 20vw;
    height: fit-content;
    border-radius: 10px;
    background-color: rgba(89, 65, 100, 0.434);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 20px;
    margin: 10px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.single_ticket:hover{
    transform: scale(1.05);
}

.ticket_img_container{
    width: 100%;
    height: 40vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.3s ease-in-out;
}

.single_ticket:hover .ticket_image{
    transform: scale(1.1);
}

.venue_name{
    font-size: .8rem;
    font-weight: 600;
    background-color: rgb(207, 8, 229);
    opacity: .6;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 30px;
}

.seat_number{
    font-size: .6rem;
    font-weight: 500;
    background-color: rgb(207, 8, 229);

    color: white;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 30px;
}

.event_name{
    font-size: .6rem;
    font-weight: 500;
    background-color: rgb(207, 8, 229);
    opacity: .6;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 30px;
}

.single_ticket > button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    background-color: #352f57;
    color: white;
    font-size: .8rem;
    font-weight: 600;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}