@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* example: override wallet button style */
.wallet-adapter-button:not([disabled]):hover {
  background-color: #707070;
}

img {
  width: 250px;
}

.navbar {
  height: 80px;
}

.navbar .btn {
  color: #000;
}

.navbar-end {
  gap: 50px;
  margin-right: 30px;
}

.test_funds {
  width: 100%;
  gap: 10px;
  align-items: center;
}

.upcoming_h1 {
  color: #352f57;
}

.no_wallet {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.no_wallet h1 {
  font-family: "Epilogue";
}

.no_wallet p,
.no_wallet a {
  font-family: "Hanken Grotesk";
}

.no_wallet a {
  margin-top: 10px;
}

.connect_button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  border: none;
  border-radius: 50px;
  height: 60px;
  font-weight: 300;
  width: 200px !important;
  width: fit-content;
  background: #695cff;
  margin-top: 30px;
}

.cursor-pointer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.cursor-pointer div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.discover_button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  border: none;
  border-radius: 50px;
  height: 60px;
  font-weight: 600;
  font-family: "Hanken Grotesk";
  width: 200px !important;
  background: #695cff;
  padding-top: 15px;
  transition: 0.3s;
}
